@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    list-style: none;
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 400;
}

/* ESTILIZANDO O BODY */

body {
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* ESTILIZANDO O CONTAINER */

.container {
    background-color: hsl(0, 0%, 12%);
    margin: 0 auto;
    width: 450px;
    border-radius: 15px;
}

/* ESTILIZANDO O CARD */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.card img {
    width: 20%;
    border-radius: 50%;
}

.text {
    padding: 1.5rem 0;
}

.text h1,
.text p {
    color: hsl(0, 0%, 100%);
}

.text h2 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 700;
    padding: .5rem 0 1.5rem 0;
}

/* ESTILIZANDO OS LINKS */

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    border-style: none;
    width: 350px;
    padding: 1rem 0;
    border-radius: 15px;
}
